ul.also_relevant {
    list-style: none;
}

ul.also_relevant li {
    float:left;
    margin: 10px;
    border-radius: 3px;
}

ul.also_relevant li a {

}

ul.teamlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
   label {
       display: block;
       color: WindowText;
       background-color: Window;
       margin: 0;
       padding: 0;
       width: 100%;
   }

.note_message {
  display: inline-block;
  padding: 0.2em 0.5em;
  background: #ffeeaa;
  border: 1px solid #b8b822;
}
.inline-form {
  display: inline-block;
}
