.matchtime {
    font-size: 1.3em;
    text-align: center;
}

.team, .score {
    text-align: center;
    font-size: 2em;
}

.score {
    font-weight: bold;
}

.title {
    font-size: 3em;
    text-align: center;
}

a .matchentry {
    border-radius: 5px;
    border: 1px solid gray;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
