ul.also_relevant {
    list-style: none;
}

ul.also_relevant li {
    float:left;
    margin: 10px;
    border-radius: 3px;
}

ul.also_relevant li a {

}

ul.teamlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
   label {
       display: block;
       color: WindowText;
       background-color: Window;
       margin: 0;
       padding: 0;
       width: 100%;
   }