{% extends 'user/manage_base.html' %}

{% load custom_tags %}
{% block content %}
    <div class="container">
    {% if messages %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        <div class="alert alert-information">
                            Bitte beachten: Wenn der aktuelle Satz von z.B. Satz 4 auf Satz 2 zurueckgestellt wird, werden alle zwischenzeitlichen Punkteingaben fuer die Saetze 3 und 4 geloescht. Ist nur eine Ergebniskorrektur gewuenscht, bitte einfach den Spielstand anpassen.
                        </div>
                    </ul>
                </div>
            </div>
        <div class="row">
            <form action="{% url 'api_change_game' game.id %}" method="post">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Spieltyp</td>
                    <td>Team A</td>
                    <td>Team B</td>
                    {% for i in 6|get_range:1 %}
                        <td>
                            Satz {{ i }}
                            <input type="checkbox" name="current_set" value="{{ i }}" {% if i == game.current_set %} checked {% endif %}/>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ game.name }}</td>
                    <td>
                        <select title="Erster Spieler" name="player_a_one_{{ game.id }}" disabled>
                            {% for player in game|get_players:"1,a" %}
                                <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>
                            {% endfor %}
                        </select>
                        {% if game.game_type|is_in:"single" == 0 %}
                            <select title="Zweiter Spieler" name="player_a_two_{{ game.id }}" disabled>
                                {% for player in game|get_players:"2,a" %}
                                    <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    <td>
                        <select title="Erster Spieler" name="player_b_one_{{ game.id }}"  disabled>
                            {% for player in game|get_players:"1,b" %}
                                <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>
                            {% endfor %}
                        </select>
                        {% if game.game_type|is_in:"single" == 0 %}
                            <select title="Zweiter Spieler" name="player_b_two_{{ game.id }}" disabled>
                                {% for player in game|get_players:"2,b" %}
                                    <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    {% for set in game.get_set_objects %}
                        <td>
                            <input class="input-sm" type="text" name="set_{{ forloop.counter }}_team_a" value="{{ set.get_score.0 }}"/>
                            <span>:</span>
                            <input class="input-sm" type="text" name="set_{{ forloop.counter }}_team_b" value="{{ set.get_score.1 }}"/>

                            <input type="hidden" name="set_{{ forloop.counter }}" value="{{ set.id }}"/>
                        </td>
                    {% endfor %}
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="5">
                            <button type="submit">Aendern</button>
                        </td>
                    </tr>
                </tr>
            </table>
            </form>
        </div>
    </div>
{% endblock %}