{% extends 'user/manage_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-sm-12">
                <ul>
                    <li><a href="{% url 'manage_clubs' %}">Manage Clubs</a></li>
                    <li><a href="{% url 'manage_season' %}">Manage Season</a></li>
                    <li><a href="{% url 'manage_league' %}">Manage League</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}