{% extends 'user/manage_base.html' %}

{% block content %}
    <div class="container">
        {% if messages %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% for match in matches %}
                <div class="row">
            <a href="{% url 'manage_ticker_interface' match.id %}">
                    <div class="col-sm-12">
                        {{ match.match_time|date:"d.m.Y G:i" }}
                    </div>
                    <div class="col-sm-3">{{ match.team_a.get_name }}</div>
                    <div class="col-sm-3">{{ match.get_score.0 }}:{{ match.get_score.1 }}</div>
                    <div class="col-sm-3">{{ match.team_b.get_name }}</div>
                </a>
                    <div class="col-sm-3"><a href="{% url 'presentation_view' 0 match.id %}"><i class="fa fa-desktop"></i></a></div>
                </div>
        {% endfor %}
        {% if matches|length_is:0 %}
            <h1>No matches available</h1>
        {% endif %}
    </div>
{% endblock %}