{% extends 'user/manage_base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if messages %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    {% for match in matches %}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <a href="{% url 'manage_ticker_interface' match.id %}">
                                    {{ match.team_a.get_name }} - {{ match.team_b.get_name }}: {{ match.get_score.0 }}:{{ match.get_score.1 }}
                                </a>
                            </h4>
                            <div class="list-group-item-text">
                                <div class="row">
                                    <div class="col-sm-3">
                                        {% if match.test_game %}
                                            <span style="background-color: lightgreen;">TEST-GAME</span>
                                        {% endif %}
                                        {{ match.match_time|date:"d.m.Y H:i" }}
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="{% url 'manage_ticker_interface' match.id %}"><i class="fa fa-edit"></i> Ticker</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="{% url 'presentation_view' 0 match.id %}"><i class="fa fa-desktop"></i> Präsentation starten</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="{% static 'bup/cur/bup.html' %}#jt_id={{match.id}}"><i class="fa fa-desktop"></i> Umpire Panel</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if matches|length_is:0 %}
                    <h1>No matches available</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}