{% extends 'user/manage_base.html' %}
{% load custom_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Manage clubs</h1>
                <form method="post" action="{% url 'club_add' %}" >
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Bearbeiten</th>
                        </tr>
                        {% for club in clubs %}
                            {% if club.responsible_profiles|check_if_in_responsible_profiles:request.user%}
                                <tr class="responsible_club">
                                    <td>{{ club.id }}</td>
                                    <td>{{ club.get_name }}</td>
                                    <td><a href="{% url 'manage_club_details' club.id %}" class="editbutton">Bearbeiten</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ club.id }}</td>
                                    <td>{{ club.get_name }}</td>
                                    <td><a href="{% url 'manage_club_details' club.id %}" class="editbutton">Bearbeiten</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr class="new_row">
                            <td>TBD</td>
                            <td>
                                <input type="text" name="clubname" placeholder="Club Name"/>
                            </td>
                            <td>
                                <button class="addbutton" type="submit">Hinzufuegen</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        {% if details %}
            <div class="row">
                <div class="col-sm-12">
                    <h1>Club-Details: {{ details.get_name }}</h1>
                </div>
                <div class="col-sm-6">
                    <h3>Information</h3>
                    <form method="post" action="{% url 'club_edit' %}">
                        {% csrf_token %}
                        <label for="clubname">Club-Name</label>
                        <input type="text" id="clubname" name="clubname" value="{{ details.get_name }}"/>

                        <input type="hidden" name="clubid" value="{{ details.id }}"/>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-edit"></i> Bearbeiten
                        </button>
                    </form>
                </div>
                <div class="col-sm-3">
                    <h3>Felder</h3>
                    <ul>
                            {% for field in details.get_fields %}
                                <li>
                                    {{ field.get_name }}
                                </li>
                            {% endfor %}
                        <li>
                            <a href="{% url 'manage_fields' details.id %}">Felder hinzufügen</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Spieler</h3>
                    <ul>
                        {% for player in details.get_ten_players %}
                            <li>{{ player.get_name }}</li>
                        {% endfor %}
                        <li>...</li>
                        <li><a href="{% url 'manage_players' details.id %}">Spieler verwalten</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Teams</h3>
                </div>
                <div class="col-sm-12">
                    <form method="post" action="{% url 'team_add' details.id %}">
                        {% csrf_token %}
                        <table class="table table-responsive table-striped">
                            <tr>
                                <th>ID</th>
                                <th>Team-Name</th>
                                <th>Assoziierte Spieler</th>
                                <th>Felder</th>
                                <th>Bearbeiten</th>
                            </tr>
                            {% if details.get_teams %}
                                {% for team in details.get_teams %}
                                    <tr>
                                        <td>{{ team.id }}</td>
                                        <td>{{ team.team_name }}</td>
                                        <td>{{ team.get_players|length }}</td>
                                        <td>{{ team.get_fields|length }}</td>
                                        <td>
                                            <a class="btn" href="{% url 'manage_teams_details' team.id %}">
                                                <i class="fa fa-edit"></i> Bearbeiten
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">No teams added yet</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>
                                    TBD
                                    <input type="hidden" name="club_id" value="{{ details.id }}"/>
                                </td>
                                <td>
                                    <input type="text" name="team_name"
                                           value="{{ details.club_name }} {{ details.get_next_team_index }}"/>
                                </td>
                                <td></td>
                                <td></td>
                                <td><button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Team hinzufügen</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}