{% extends 'user/manage_base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="container">
        {% if messages %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% if player %}
                <form method="post" action="{% url 'api_change_player_profile' player.id %}">
                    {% csrf_token %}
                    <div class="col-xs-5">
                        <label for="prename">
                            Vorname:
                            <input name="prename" type="text" id="prename" value="{{ player.prename }}"/>
                        </label>
                    </div>
                    <div class="col-xs-5">
                        <label for="lastname">
                            Nachname:
                            <input name="lastname" type="text" id="lastname" value="{{ player.lastname }}"/>
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            {% else %}
                <h2>Player does not exist</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}