{% extends 'user/manage_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Slides</div>
                    </div>
                    <div class="list-group">
                        {% for slide in slides %}
                            {% if slide.is_deleted == False %}
                                <a href="#" class="list-group-item active">
                                    <h4 class="list-group-item-heading">
                                        {{ slide.title }}
                                        {% if not slide.is_visible %}Not visible{% endif %}
                                    </h4>
                                    <p class="list-group-item-text">
                                        {{ slide.content_type }}
                                    </p>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Presentation</div>
                    </div>
                    <div class="list-group">
                        {% for presentation in presentations %}
                            {% if presentation.displayed %}
                                <a href="{% url 'manage_load_presentation' presentation.id %}" class="list-group-item active">
                                    <h4 class="list-group-item-heading">
                                        {{ presentation.name }}
                                    </h4>
                                    <p class="list-group-item-text">
                                        {{ presentation.description }} ({{ presentation.team.get_name }})
                                    </p>
                                </a>
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'manage_presentation_new' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Add new presentation
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}