{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% block extracss %}
    <link href="{% static 'css/ticker_interface_simple.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <form action="{% url 'api_validate_token' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <h1>Login with token</h1>
                </div>
                <div class="col-sm-12">
                    <input type="text" placeholder="Token" name="token"/>
                </div>
                <div clss="col-sm-12">
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}