{% extends 'user/manage_base.html' %}

{% load custom_tags %}
{% load staticfiles %}
{% block extracss %}
    <link href="{% static 'css/ticker_interface.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var TICKER_UPDATE_URL = '{% url 'match_ticker_json' match.id %}';
    </script>
    <script type="text/javascript" src="{% static 'js/django_csrf_post.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tickerinterface.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        {% if messages %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% now "d.m.Y" as today %}
        {% if match.match_time|date:"d.m.Y" != today %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        Der Matchzeitpunkt ist nicht heute!
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row-fluid headline">
            {% with score=match.get_score team_names=match.get_team_names %}
                <div class="col-sm-4 teamname">{{ team_names.0 }} <a href="{% url 'manage_teams_details' match.team_a.id %}">(<i class="fa fa-link"></i>)</a></div>
                <div class="col-sm-4 score">{{ score.0 }} - {{ score.1 }}</div>
                <div class="col-sm-4 teamname">{{ team_names.1 }} <a href="{% url 'manage_teams_details' match.team_b.id %}">(<i class="fa fa-link"></i>)</a></div>
            {% endwith %}
        </div>
        <div class="row-fluid fields">
            {% with fields=match.get_fields %}
                {% with fieldamount=fields|length %}
                    {% for field in fields %}
                        <div class="col-sm-{{ 12|get_field_width:fieldamount }}">
                            <div class="row-fluid">
                                <div class="col-sm-12 fieldtitle">{{ field.field_name }}</div>
                                <form method="post" action="{% url 'update_score_field' field.id '' %}" name="field_{{ field.id }}">
                                    {% csrf_token %}
                                    {% if field.get_game %}
                                        {% with game=field.get_game %}
                                            <div class="col-sm-6 player">
                                                {{ game.player_a|format_players|safe }}
                                            </div>
                                            <div class="col-sm-6 player">
                                                {{ game.player_b|format_players|safe }}
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-primary" name="team_a" value="+"
                                                            {% if field.has_token %} disabled {% endif %}>
                                                        +</button>
                                                    <button type="submit" class="btn btn-primary" name="team_a" value="-"
                                                            {% if field.has_token %} disabled {% endif %}>
                                                        -</button>
                                                </div>
                                                <div class="col-sm-1 setscore" id="field_{{ field.id }}_current_set_team_a">
                                                    {{ game.get_current_set.get_score.0 }}
                                                </div>
                                                <div class="col-sm-2" id="field_{{ field.id }}_current_set_label">
                                                    Satz {{ game.get_current_set.set_number }}
                                                    {% if field.has_token %}
                                                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                                                data-placement="top" data-content="Der aktuelle Satz wird nicht aktualisiert, solange der Token aktiv ist. Die Ergebnisse unten sind stets aktuell.">
                                                            <i class="fa fa-info-circle"></i>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-1 setscore" id="field_{{ field.id }}_current_set_team_b">
                                                    {{ game.get_current_set.get_score.1 }}
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-primary" name="team_b" value="+"
                                                            {% if field.has_token %} disabled {% endif %}>
                                                        +
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" name="team_b" value="-"
                                                            {% if field.has_token %} disabled {% endif %}>
                                                        -
                                                    </button>
                                                </div>
                                            </div>
                                            <div {% if game.get_current_set|finished_set:match %}class="row"
                                                 {% else %}class="row hidden"{% endif %} id="field_{{ field.id }}_next_set">
                                                <div class="col-sm-12" style="text-align: center">
                                                    <button type="submit" class="btn btn-primary"
                                                            name="switch_set" value="True"
                                                            {% if field.has_token %} disabled {% endif %}>
                                                        Naechster Satz
                                                    </button>
                                                </div>
                                            </div>
                                            {% for set in game.get_set_objects %}
                                                <div class="row set {{ set|is_current_set:game }}">
                                                    {% with score=set.get_score %}
                                                        <div class="col-sm-5 setscore" id="field_{{ field.id }}_set_{{ forloop.counter }}_team_a">{{ score.0 }}</div>
                                                        <div class="col-sm-2">Satz {{ set.set_number }}</div>
                                                        <div class="col-sm-5 setscore" id="field_{{ field.id }}_set_{{ forloop.counter }}_team_b">{{ score.1 }}</div>
                                                    {% endwith %}
                                                </div>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}
                                </form>
                                <div class="col-sm-12">
                                    <input type="hidden" name="has_token_{{ field.id }}" value="{{ field.has_token }}"/>
                                    {% if field.has_token %}
                                        {% with token=field.get_token %}
                                            Token <b>{{ token.token }}</b>
                                            <a href="{% url 'api_invalidate_token' token.id %}">
                                                <i class="fa fa-minus"></i>Token loeschen
                                            </a>
                                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                                    data-placement="top" data-content="Auf https://shuttlecock-live.com/simple den Token {{ token.token }} verwenden">
                                                <i class="fa fa-info-circle"></i>Hilfe
                                            </button>
                                        {% endwith %}
                                    {% else %}
                                        <form action="{% url 'api_new_token' field.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-primary">Neuen Eingabetoken generieren</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
        </div>
        <div class="row-fluid matches">
            <div class="col-sm-12">
                {#                <form method="post" action="{% url 'match_lineup_save' match.id '/' %}">#}
                <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <table class="table table-responsive table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Gamename</th>
                            <th>Spieler (Heim)</th>
                            <th>Spieler (Gast)</th>
                            <th>Saetze</th>
                            <th>Feld</th>
                            <th>Editieren</th>
                            <th><a href="{% url 'export_match' match.id %}" target="_blank">Export</a></th>
                        </tr>
                        {% for form in formset %}
                            {% with game=form.get_game %}
                                {% if game %}
                                    <tr>
                                        <td>
                                            {{ game.id }}
                                            {{ form.id }}
                                        </td>
                                        <td>
                                            {{ game.name }}
                                            {{ form.name }}
                                        </td>
                                        <td>
                                            {{ form.player_a }}
                                            {{ form.player_a_double }}
                                        </td>
                                        <td>
                                            {{ form.player_b }}
                                            {{ form.player_b_double }}
                                        </td>
                                        <td id="score_game_{{ game.id }}">
                                            {{ game.get_sets }}
                                        </td>
                                        <td>
                                            {% for field in match.get_fields %}
                                                {% with field_active=field|field_active:game %}
                                                    {% if field_active == 'active' %}
                                                        <a href="{% url 'remove_game_to_field' game.id field.id '' %}"
                                                           class="fieldname {{ field_active }}">{{ forloop.counter }}</a>
                                                    {% else %}
                                                        <a href="{% url 'assign_game_to_field' game.id field.id '' %}"
                                                           class="fieldname {{ field_active }}">{{ forloop.counter }}</a>
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{% url 'manage_game' game.id %}">Edit</a>
                                        </td>
                                        <td>
                                            <a target="_blank" href="{% url 'export_game' game.id %}">Export Game</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        {#                        {% for game in match.get_all_games %}#}
                        {#                            <tr id="row_{{ game.id }}">#}
                        {#                                <td>{{ game.id }} <input type="hidden" name="game_id" value="{{ game.id }}"/> </td>#}
                        {#                                <td>{{ game.name }}</td>#}
                        {#                                <td>#}
                        {#                                    <select title="Erster Spieler" name="player_a_one_{{ game.id }}" {% if match.has_lineup %} disabled{% endif %}>#}
                        {#                                        {% for player in game|get_players:"1,a" %}#}
                        {#                                            <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>#}
                        {#                                        {% endfor %}#}
                        {#                                    </select>#}
                        {#                                    {% if game.game_type|is_in:"single" == 0 %}#}
                        {#                                        <select title="Zweiter Spieler" name="player_a_two_{{ game.id }}" {% if match.has_lineup %} disabled{% endif %}>#}
                        {#                                            {% for player in game|get_players:"2,a" %}#}
                        {#                                                <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>#}
                        {#                                            {% endfor %}#}
                        {#                                        </select>#}
                        {#                                    {% endif %}#}
                        {#                                </td>#}
                        {#                                <td>#}
                        {#                                    <select title="Erster Spieler" name="player_b_one_{{ game.id }}" {% if match.has_lineup %} disabled{% endif %}>#}
                        {#                                        {% for player in game|get_players:"1,b" %}#}
                        {#                                            <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>#}
                        {#                                        {% endfor %}#}
                        {#                                    </select>#}
                        {#                                    {% if game.game_type|is_in:"single" == 0 %}#}
                        {#                                        <select title="Zweiter Spieler" name="player_b_two_{{ game.id }}" {% if match.has_lineup %} disabled{% endif %}>#}
                        {#                                            {% for player in game|get_players:"2,b" %}#}
                        {#                                                <option value="{{ player.0 }}" {{ player.2|is_selected }}>{{ player.1 }}</option>#}
                        {#                                            {% endfor %}#}
                        {#                                        </select>#}
                        {#                                    {% endif %}#}
                        {#                                </td>#}
                        {#                                <td id="score_game_{{ game.id }}">{{ game.get_sets }}</td>#}
                        {#                                <td>#}
                        {#                                    {% for field in match.get_fields %}#}
                        {#                                        {% with field_active=field|field_active:game %}#}
                        {#                                            {% if field_active == 'active' %}#}
                        {#                                                <a href="{% url 'remove_game_to_field' game.id field.id '' %}"#}
                        {#                                                   class="fieldname {{ field_active }}">{{ forloop.counter }}</a>#}
                        {#                                            {% else %}#}
                        {#                                                <a href="{% url 'assign_game_to_field' game.id field.id '' %}"#}
                        {#                                                   class="fieldname {{ field_active }}">{{ forloop.counter }}</a>#}
                        {#                                            {% endif %}#}
                        {#                                        {% endwith %}#}
                        {#                                    {% endfor %}#}
                        {#                                </td>#}
                        {#                                <td>#}
                        {#                                    <a href="{% url 'manage_game' game.id %}">Edit</a>#}
                        {#                                </td>#}
                        {#                                <td>#}
                        {#                                    <a target="_blank" href="{% url 'export_game' game.id %}">Export Game</a>#}
                        {#                                </td>#}
                        {#                            </tr>#}
                        {#                        {% endfor %}#}
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">
                                {% if match.has_lineup %}
                                    <label for="unlock_lineup" style="margin-bottom: 20px;">
                                        Aufstellung editieren
                                        <input type="checkbox" id="unlock_lineup" name="unlock_field" value="True"/>
                                    </label>
                                {% endif %}
                                <button class="btn btn-success lineup" value="lineup">Speichern</button>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}