{% extends 'user/manage_base.html' %}

{% load custom_tags %}
{% load static %}
{% block extracss %}
    <link href="{% static 'css/ticker_interface.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var TICKER_UPDATE_URL = '{% url 'match_ticker_json' match.id %}';
    </script>
    <script type="text/javascript" src="{% static 'js/django_csrf_post.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tickerinterface.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        {% if messages %}
            <div class="row-fluid">
                <div class="col-sm-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% now "d.m.Y" as today %}
        {% if match.match_time|date:"d.m.Y" != today %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        Der Matchzeitpunkt ist nicht heute!
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row-fluid headline">
            {% with score=match.get_score team_names=match.get_team_names %}
                <div class="col-sm-4 teamname">{{ team_names.0 }} <a href="{% url 'manage_teams_details' match.team_a.id %}">(<i class="fa fa-link"></i>)</a></div>
                <div class="col-sm-4 score">{{ score.0 }} - {{ score.1 }}</div>
                <div class="col-sm-4 teamname">{{ team_names.1 }} <a href="{% url 'manage_teams_details' match.team_b.id %}">(<i class="fa fa-link"></i>)</a></div>
            {% endwith %}
        </div>
        <div class="row-fluid fields">
            {% with fields=match.get_fields %}
                {% with fieldamount=fields|length %}
                    {% for field in fields %}
                        <div class="col-sm-{{ 12|get_field_width:fieldamount }}">
                            <div class="row-fluid">
                                <div class="col-sm-12 fieldtitle">{{ field.field_name }}</div>
                                <form method="post" action="{% url 'update_score_field' field.id '' %}" name="field_{{ field.id }}">
                                    {% csrf_token %}
                                    {% if field.get_game %}
                                        {% with game=field.get_game %}
                                            {% include 'partials/tickerinterface-field.html' %}
                                        {% endwith %}
                                    {% endif %}
                                </form>
                                <div class="col-sm-12">
                                    <input type="hidden" name="has_token_{{ field.id }}" value="{{ field.has_token }}"/>
                                    {% if field.has_token %}
                                        {% with token=field.get_token %}
                                            Token <b>{{ token.token }}</b>
                                            <a href="{% url 'api_invalidate_token' token.id %}">
                                                <i class="fa fa-minus"></i>Token loeschen
                                            </a>
                                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                                    data-placement="top" data-content="Auf https://shuttlecock-live.com/simple den Token {{ token.token }} verwenden">
                                                <i class="fa fa-info-circle"></i>Hilfe
                                            </button>
                                        {% endwith %}
                                    {% else %}
                                        <form action="{% url 'api_new_token' field.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-primary">Neuen Eingabetoken generieren</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
        </div>
        <div class="row-fluid matches">
            <div class="col-sm-12">
                {#                <form method="post" action="{% url 'match_lineup_save' match.id '/' %}">#}
                <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <table class="table table-responsive table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Gamename</th>
                            <th>Spieler (Heim)</th>
                            <th>Spieler (Gast)</th>
                            <th>Saetze</th>
                            <th>Feld</th>
                            <th>Editieren</th>
                            <th><a href="{% url 'export_match' match.id %}" target="_blank">Export</a></th>
                        </tr>
                        {% for form in formset %}
                            {% with game=form.get_game %}
                                {% if game %}
                                    <tr>
                                        <td>
                                            {{ game.id }}
                                            {{ form.id }}
                                        </td>
                                        <td>
                                            {{ game.name }}
                                            {{ form.name }}
                                        </td>
                                        <td>
                                            {{ form.player_a }}
                                            {{ form.player_a_double }}
                                        </td>
                                        <td>
                                            {{ form.player_b }}
                                            {{ form.player_b_double }}
                                        </td>
                                        <td id="score_game_{{ game.id }}">
                                            {{ game.get_sets }}
                                        </td>
                                        <td>
                                            {% for field in match.get_fields %}
                                                {% with field_active=field|field_active:game %}
                                                    {% if field_active == 'active' %}
                                                        <a href="{% url 'remove_game_to_field' game.id field.id '' %}"
                                                           class="fieldname {{ field_active }}">{{ forloop.counter }}</a>
                                                    {% else %}
                                                        <a href="{% url 'assign_game_to_field' game.id field.id '' %}"
                                                           class="fieldname {{ field_active }}">{{ forloop.counter }}</a>
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{% url 'manage_game' game.id %}">Edit</a>
                                        </td>
                                        <td>
                                            <a target="_blank" href="{% url 'export_game' game.id %}">Export Game</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">
                                {% if match.has_lineup %}
                                    <label for="unlock_lineup" style="margin-bottom: 20px;">
                                        Aufstellung editieren
                                        <input type="checkbox" id="unlock_lineup" name="unlock_field" value="True"/>
                                    </label>
                                {% endif %}
                                <button class="btn btn-success lineup" value="lineup">Speichern</button>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </form>

                <div style="font-size: 150%; margin-top: 2em">
                <a href="{% static 'bup/cur/bup.html' %}#jt_id={{match.id}}">Umpire Panel starten</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}