{% extends 'presentation/base_reveal.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'presentation/slide_layouts/welcome.html' %}

    {% include 'presentation/slide_layouts/result_table.html' %}

    {% for field in fields %}
        {% include 'presentation/slide_layouts/result_fields.html' %}
    {% endfor %}

    {% with games=next_home_games title='Heimspiele' %}
        {% include 'presentation/slide_layouts/next_games.html' %}
    {% endwith %}

    <section>
        <img class="advertisement_photo" src="{% static 'advertisement/1/auto_thomas_logo.png' %}"/>
    </section>

    {% static 'advertisement/1/auto_thomas_logo.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/augenklinik.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/brohler.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/kulticus.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/maritim.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/praxis_malz.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/queen_games.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% include 'presentation/slide_layouts/welcome.html' %}

    {% include 'presentation/slide_layouts/result_table.html' %}

    {% static 'advertisement/1/ser.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/sparkasse.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/huchlre_kukat.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/rheinbruecke.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/sportfabrik.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/sportpartner.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/swb.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% include 'presentation/slide_layouts/welcome.html' %}

    {% include 'presentation/slide_layouts/result_table.html' %}

    {% static 'advertisement/1/topwash.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/gkjoerg.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/thomas_eisen.jpg' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/victor_logo.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

    {% static 'advertisement/1/vobaworld.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}

{% endblock %}