{% extends 'presentation/base_reveal.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'presentation/slide_layouts/welcome.html' %}

    {% include 'presentation/slide_layouts/result_table.html' %}

    {% for field in fields %}
        {% include 'presentation/slide_layouts/result_fields.html' %}
    {% endfor %}

    <section>
        <h1>Feld: Wind Immobilien</h1>
        <h2>Andreas Kruse<br/>Max Schneider</h2>
        <hr/>
        <h2>Andreas Kruse<br/>Max Schneider</h2>
        <table>
            <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </section>

    {% with games=next_home_games title='Heimspiele' %}
        {% include 'presentation/slide_layouts/next_games.html' %}
    {% endwith %}

    <section>
        <img class="advertisement_photo" src="{% static 'advertisement/1/auto_thomas_logo.png' %}"/>
    </section>

    {% static 'advertisement/1/auto_thomas_logo.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/cep.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/brohler.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/ikkclassic.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


    {% static 'advertisement/1/kulticus.png' as source %}
    {% include 'presentation/slide_layouts/advertisement_photo.html' %}


{% endblock %}