{% extends 'base.html' %}
{% load custom_tags %}
{% block extracss %}
    <style>
        .playernames {
            font-size: 30vh;
        }

        #container {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            padding-left: 50px;
        }

        {% with team_a=game.get_match.team_a %}
        .team_a {
            background-color: {{team_a|get_color:'score_display_top'|default:'indianred' }} ;
            color: {{ team_a|get_color:'score_display_top_font'|default:'black' }};
            text-align:left;
        }

        .team_b {
            background-color: {{ team_a|get_color:'score_display_bottom'|default:'greenyellow' }};
            color: {{ team_a|get_color:'score_display_bottom_font'|default:'black' }};
            text-align:left;
            vertical-align: middle;
            border-top: 5px solid black;
        }


        #top_div .set.active {
            background-color: {{ team_a|get_color:'score_active_set_top'|default:'darkred' }};
            color: {{ team_a|get_color:'score_active_set_top_font'|default:'white' }};
        }


        #bottom_div .set.active {
            background-color: {{ team_a|get_color:'score_active_set_bottom'|default:'darkgreen' }};
            color: {{ team_a|get_color:'score_active_set_bottom_font'|default:'white' }};
        }


        .set.active {
            background-color: white;
        }


        #top_div {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 50%;
            overflow:hidden;
        }


        #bottom_div {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            bottom: 0;
            overflow:hidden;
        }

        .set  {
            width: 20%;
            float: left;
            text-align: center;
            border-left: 5px solid black;
            height: 100%;
        }

        {% endwith %}
    </style>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        setInterval(function() {updateScore()}, 10000);

        function updateScore() {
            $.ajax({
                url: '{% url 'score_display' field_id '/json' %}',
                method: 'get'
            }).done(function(data) {
                var obj = $.parseJSON(data);
                $.each(obj, function(key, val) {
                   $('div[data-setnumber="' + key + '"][data-team="a"]').html(val[0]);
                   $('div[data-setnumber="' + key + '"][data-team="b"]').html(val[1]);
                });
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="top_div" class="playernames team_a">
            {% for set in game.sets.all %}
                <div data-setnumber="{{ set.set_number }}" data-team="a" class="set {% if set.set_number == game.current_set %} active {% endif %} ">{{ set.get_score.0 }}</div>
            {% endfor %}
        </div>
        <div id="bottom_div" class="playernames team_b">
            {% for set in game.sets.all %}
                <div data-setnumber="{{ set.set_number }}" data-team="b" class="set {% if set.set_number == game.current_set %} active {% endif %} ">{{ set.get_score.1 }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}