{% extends 'user/manage_base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info">
                    <i class="fa fa-2x fa-info-circle"></i>
                    Diese Seite ist auch fuer nicht eingeloggte Nutzer zu erreichen.
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    {% for club in clubs %}
                        <li class="list-group-item">{{ club.get_name }}</li>
                        <ul class="list-group">
                        {% for field in club.fields.all %}
                            <li class="list-group-item">
                                {{ field.get_name }}
                                <a href="{% url 'score_display' field.id '' %}">Spielstand</a>
                                <a href="{% url 'team_display' field.id '' %}">Team</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}