{% extends 'base.html' %}
{% load custom_tags %}


{% block extrahtmltag %}
    manifest="/offline.appcache"
{% endblock %}

{% block extracss %}
    <style>
        .playernames {
            font-size: 30vh;
        }

        #container {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            padding-left: 50px;
        }

        .team_a {
            background-color: #000000 ;
            color: #fce405;
            text-align:left;
        }

        .team_b {
            background-color: #000000;
            color: #8dcff0;
            text-align:left;
            vertical-align: middle;
            border-top: 5px solid black;
        }


        #top_div .set.active {
            background-color: #fce405;
            color: #000000;
        }


        #bottom_div .set.active {
            background-color: #4e79f8;
            color: #000000;
        }


        .set.active {
            background-color: white;
        }


        #top_div {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 50%;
            overflow:hidden;
        }


        #bottom_div {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            bottom: 0;
            overflow:hidden;
        }

        .set  {
            width: 20%;
            float: left;
            text-align: center;
            border-left: 5px solid black;
            height: 100%;
        }

    </style>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        setInterval(function() {updateScore()}, 1000);

        function updateScore() {
            var obj = localStorage.getItem('offline_obj');
            var obj = $.parseJSON(obj);

            console.log(obj)
            for (var i = 1; i <= 5; i++ ) {
                $('div[data-setnumber="' + i + '"][data-team="a"]').html(obj['set_' + i][0]);
                $('div[data-setnumber="' + i + '"][data-team="b"]').html(obj['set_' + i][1]);
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="top_div" class="playernames team_a">
                {% for setnr in 6|get_range:1 %}
                    <div data-setnumber="{{ setnr }}" data-team="a" class="set  ">0</div>
                {% endfor %}
        </div>
        <div id="bottom_div" class="playernames team_b">
                {% for setnr in 6|get_range:1 %}
                    <div data-setnumber="{{ setnr }}" data-team="b" class="set  ">0</div>
                {% endfor %}
        </div>
    </div>
{% endblock %}