{% extends 'base.html' %}

{% block extracss %}
    <style>
        .playernames {
            font-size: 17vh;
            padding-left: 5%;
        }

        #container {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            padding-left: 50px;
        }

        #top_div {
            background-color: indianred;
            color: black;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 50%;
            text-align:left;
            overflow:hidden;
        }

        #bottom_div {
            background-color: greenyellow;
            color: black;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            bottom: 0;
            text-align:left;
            vertical-align: middle;
            overflow:hidden;
        }
    </style>
{% endblock %}
{% load custom_tags %}

{% block extrajs %}
    <script type="text/javascript">
        setInterval(function() {updateTeam()}, 10000);

        function updateTeam() {
            $.ajax({
                url: '{% url 'team_display' field_id '/json' %}',
                method: 'get'
            }).done(function(data) {
                var obj = $.parseJSON(data);
                $.each(obj, function(key, val) {
                   $('div[data-team="' + key +  '"]').html(val);
                });
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div id="container">
        <div data-team="team_a" id="top_div" class="playernames">
            {{ game.player_a|format_players }}
        </div>
        <div data-team="team_b" id="bottom_div" class="playernames">
            {{ game.player_b|format_players }}
        </div>
    </div>
{% endblock %}