<div class="col-sm-6 player">
    {{ game.player_a|format_players|safe }}
</div>
<div class="col-sm-6 player">
    {{ game.player_b|format_players|safe }}
</div>
<div class="row">
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary" name="team_a" value="+"
                {% if field.has_token %} disabled {% endif %}>
            +</button>
        <button type="submit" class="btn btn-primary" name="team_a" value="-"
                {% if field.has_token %} disabled {% endif %}>
            -</button>
    </div>
    <div class="col-sm-1 setscore" id="field_{{ field.id }}_current_set_team_a">
        {{ game.get_current_set.get_score.0 }}
    </div>
    <div class="col-sm-2" id="field_{{ field.id }}_current_set_label">
        Satz {{ game.get_current_set.set_number }}
        {% if field.has_token %}
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="Der aktuelle Satz wird nicht aktualisiert, solange der Token aktiv ist. Die Ergebnisse unten sind stets aktuell.">
                <i class="fa fa-info-circle"></i>
            </button>
        {% endif %}
    </div>
    <div class="col-sm-1 setscore" id="field_{{ field.id }}_current_set_team_b">
        {{ game.get_current_set.get_score.1 }}
    </div>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary" name="team_b" value="+"
                {% if field.has_token %} disabled {% endif %}>
            +
        </button>
        <button type="submit" class="btn btn-primary" name="team_b" value="-"
                {% if field.has_token %} disabled {% endif %}>
            -
        </button>
    </div>
</div>
<div {% if game.get_current_set|finished_set:match %}class="row"
     {% else %}class="row hidden"{% endif %} id="field_{{ field.id }}_next_set">
    <div class="col-sm-12" style="text-align: center">
        <button type="submit" class="btn btn-primary"
                name="switch_set" value="True"
                {% if field.has_token %} disabled {% endif %}>
            Naechster Satz
        </button>
    </div>
</div>
{% for set in game.get_set_objects %}
    <div class="row set {{ set|is_current_set:game }}">
        {% with score=set.get_score %}
            <div class="col-sm-5 setscore" id="field_{{ field.id }}_set_{{ forloop.counter }}_team_a">{{ score.0 }}</div>
            <div class="col-sm-2">Satz {{ set.set_number }}</div>
            <div class="col-sm-5 setscore" id="field_{{ field.id }}_set_{{ forloop.counter }}_team_b">{{ score.1 }}</div>
        {% endwith %}
    </div>
{% endfor %}